#hero {
  width: 100%;
}
#hero .container .hero {
  width: 100%;
  height: 640px;
  background-image: url("../../../assets/images/home/section/bg-section.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 150px;
}
#hero .container .hero h1 {
  width: 50%;
  color: #FFF;
  font-family: "Jost 500";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  padding-left: 7%;
  padding-top: 145px;
}
#hero .container .hero p {
  color: #FFF;
  font-family: "Jost 400";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-left: 7%;
  width: 50%;
  padding-top: 11px;
  padding-bottom: 40px;
}
#hero .container .hero a {
  color: #333136;
  font-family: "Jost 500";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 18px 25px;
  border-radius: 8px;
  background: #FFF;
  margin-left: 7%;
  margin-bottom: 150px;
}
@media only screen and (max-width: 850px) {
  #hero .container .hero {
    margin-top: 100px;
  }
  #hero .container .hero h1 {
    font-size: 36px;
  }
  #hero .container .hero p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  #hero .container .hero {
    width: 100%;
    height: 843px;
    background-image: url(../../../assets/images/home/section/bg-section\ tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
  }
  #hero .container .hero h1 {
    width: 80%;
    margin: 0px auto;
    font-size: 48px;
    text-align: center;
    padding-top: 50px;
  }
  #hero .container .hero p {
    font-size: 16px;
    width: 80%;
    text-align: center;
    margin: 0px auto;
  }
  #hero .container .hero a {
    text-align: center;
    margin-left: 40%;
  }
}
@media only screen and (max-width: 600px) {
  #hero .container .hero {
    width: 100%;
    height: 843px;
    background-image: url(../../../assets/images/home/section/bg-section\ tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
  }
  #hero .container .hero h1 {
    width: 85%;
    margin: 0px auto;
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
  }
  #hero .container .hero p {
    font-size: 14px;
    width: 85%;
    text-align: center;
    margin: 0px auto;
  }
  #hero .container .hero a {
    text-align: center;
    margin-left: 35%;
  }
}
@media only screen and (max-width: 450px) {
  #hero .container .hero {
    width: 100%;
    height: 843px;
    background-image: url(../../../assets/images/home/section/bg-section\ tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
  }
  #hero .container .hero h1 {
    width: 85%;
    margin: 0px auto;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    line-height: 30px;
  }
  #hero .container .hero p {
    font-size: 12px;
    width: 85%;
    text-align: center;
    margin: 0px auto;
    line-height: 14px;
  }
  #hero .container .hero a {
    text-align: center;
    margin-left: 35%;
    padding: 10px 15px;
    font-size: 12px;
  }
}

#section {
  width: 100%;
  padding-top: 100px;
}
#section .container .images {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
#section .container .images .first {
  width: 45%;
  background-image: url(../../../assets/images/home/hero/web.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 283px;
  padding-bottom: 283px;
}
#section .container .images .first .web {
  width: 100%;
  height: 100%;
}
#section .container .images .first .web h2 {
  width: 100%;
  color: #FFF;
  font-family: "Jost 500";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
  letter-spacing: 2px;
  text-align: center;
}
#section .container .images .first .web p {
  width: 100%;
  color: #FFF;
  font-family: "Jost 500";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}
#section .container .images .box {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#section .container .images .box .second {
  width: 100%;
  background-image: url(../../../assets/images/home/hero/app.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 117px;
  padding-bottom: 117px;
}
#section .container .images .box .second .app {
  width: 100%;
  height: 100%;
}
#section .container .images .box .second .app h2 {
  width: 100%;
  color: #FFF;
  font-family: "Jost 500";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
  letter-spacing: 2px;
  text-align: center;
}
#section .container .images .box .second .app p {
  width: 100%;
  color: #FFF;
  font-family: "Jost 500";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}
#section .container .images .box .third {
  width: 100%;
  background-image: url(../../../assets/images/home/hero/graphik.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 117px;
  padding-bottom: 117px;
}
#section .container .images .box .third .graphic {
  width: 100%;
  height: 100%;
}
#section .container .images .box .third .graphic h2 {
  width: 100%;
  color: #FFF;
  font-family: "Jost 500";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
  letter-spacing: 2px;
  text-align: center;
}
#section .container .images .box .third .graphic p {
  width: 100%;
  color: #FFF;
  font-family: "Jost 500";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 860px) {
  #section .container {
    width: 95%;
    margin: 0px auto;
  }
  #section .container .images {
    flex-direction: column;
    gap: 20px;
  }
  #section .container .images .first {
    width: 90%;
    margin: 0px auto;
    padding-top: 107px;
    padding-bottom: 107px;
    border-radius: 15px;
  }
  #section .container .images .box {
    width: 90%;
    margin: 0px auto;
  }
  #section .container .images .box .second {
    width: 100%;
    margin: 0px auto;
    border-radius: 15px;
    padding-top: 107px;
    padding-bottom: 107px;
  }
  #section .container .images .box .third {
    width: 100%;
    margin: 0px auto;
    border-radius: 15px;
    padding-top: 107px;
    padding-bottom: 107px;
  }
}
@media only screen and (max-width: 540px) {
  #section .container {
    width: 95%;
    margin: 0px auto;
  }
  #section .container .images {
    flex-direction: column;
    gap: 20px;
  }
  #section .container .images .first {
    width: 90%;
    margin: 0px auto;
    padding-top: 107px;
    padding-bottom: 107px;
    border-radius: 15px;
  }
  #section .container .images .first .web {
    width: 100%;
  }
  #section .container .images .first .web h2 {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    padding-left: -120px;
  }
  #section .container .images .first .web p {
    font-size: 14px;
    line-height: 16px;
  }
  #section .container .images .box {
    width: 90%;
    margin: 0px auto;
  }
  #section .container .images .box .second {
    width: 100%;
    margin: 0px auto;
    border-radius: 15px;
  }
  #section .container .images .box .second .app h2 {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    padding-left: -120px;
  }
  #section .container .images .box .second .app p {
    font-size: 14px;
    line-height: 16px;
  }
  #section .container .images .box .third {
    width: 100%;
    margin: 0px auto;
    border-radius: 15px;
  }
  #section .container .images .box .third .graphic h2 {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    padding-left: -120px;
  }
  #section .container .images .box .third .graphic p {
    font-size: 14px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 375px) {
  #section .container {
    width: 95%;
    margin: 0px auto;
  }
  #section .container .images {
    flex-direction: column;
    gap: 20px;
  }
  #section .container .images .first {
    width: 90%;
    margin: 0px auto;
    padding-top: 87px;
    padding-bottom: 87px;
    border-radius: 10px;
  }
  #section .container .images .first .web {
    width: 100%;
  }
  #section .container .images .first .web h2 {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    padding-left: -120px;
  }
  #section .container .images .first .web p {
    font-size: 14px;
    line-height: 16px;
  }
  #section .container .images .box {
    width: 90%;
    margin: 0px auto;
  }
  #section .container .images .box .second {
    width: 100%;
    margin: 0px auto;
    border-radius: 10px;
    padding-top: 87px;
    padding-bottom: 87px;
  }
  #section .container .images .box .second .app h2 {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    padding-left: -120px;
  }
  #section .container .images .box .second .app p {
    font-size: 14px;
    line-height: 16px;
  }
  #section .container .images .box .third {
    width: 100%;
    margin: 0px auto;
    border-radius: 10px;
    padding-top: 87px;
    padding-bottom: 87px;
  }
  #section .container .images .box .third .graphic h2 {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    padding-left: -120px;
  }
  #section .container .images .box .third .graphic p {
    font-size: 14px;
    line-height: 16px;
  }
}

#boxs {
  width: 100%;
  padding-top: 150px;
}
#boxs .container .cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#boxs .container .cards .card {
  width: 30%;
}
#boxs .container .cards .card .card__image {
  width: 60%;
  height: auto;
  margin: 0px auto;
}
#boxs .container .cards .card .card__image img {
  width: 100%;
  height: auto;
}
#boxs .container .cards .card .card__text {
  width: 100%;
}
#boxs .container .cards .card .card__text h3 {
  width: 100%;
  color: #333136;
  text-align: center;
  font-family: "Jost 500";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  padding-top: 40px;
}
#boxs .container .cards .card .card__text p {
  width: 100%;
  color: #333136;
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-top: 30px;
}
@media only screen and (max-width: 768px) {
  #boxs .container .cards {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }
  #boxs .container .cards .card {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #boxs .container .cards .card .card__image {
    width: 40%;
  }
  #boxs .container .cards .card .card__image img {
    width: 90%;
  }
  #boxs .container .cards .card .card__text {
    width: 55%;
  }
  #boxs .container .cards .card .card__text h3 {
    padding-top: 0;
  }
  #boxs .container .cards .card .card__text p {
    padding: 10px;
  }
}
@media only screen and (max-width: 614px) {
  #boxs .container .cards {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }
  #boxs .container .cards .card {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #boxs .container .cards .card .card__image {
    width: 40%;
  }
  #boxs .container .cards .card .card__image img {
    width: 90%;
  }
  #boxs .container .cards .card .card__text {
    width: 55%;
  }
  #boxs .container .cards .card .card__text h3 {
    padding-top: 0;
    font-size: 22px;
    line-height: 25px;
  }
  #boxs .container .cards .card .card__text p {
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 484px) {
  #boxs .container .cards {
    width: 100%;
    flex-direction: wrap;
    gap: 30px;
  }
  #boxs .container .cards .card {
    width: 90%;
    flex-direction: column;
  }
  #boxs .container .cards .card .card__image {
    width: 60%;
  }
  #boxs .container .cards .card .card__image img {
    width: 100%;
  }
  #boxs .container .cards .card .card__text {
    width: 90%;
  }
  #boxs .container .cards .card .card__text h3 {
    padding-top: 20px;
    font-size: 22px;
    line-height: 25px;
  }
  #boxs .container .cards .card .card__text p {
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}

#header {
  width: 100%;
}
#header .container .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
#header .container .navbar .logo {
  width: 20%;
}
#header .container .navbar .logo img {
  width: 100%;
  height: auto;
}
#header .container .navbar .nav {
  width: 30%;
}
#header .container .navbar .nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .container .navbar .nav ul li .a {
  color: #333136;
  font-family: "Jost 400";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
}
#header .container .navbar .nav ul .menu {
  display: none;
}
@media only screen and (max-width: 1160px) {
  #header .container .navbar .logo {
    width: 30%;
  }
  #header .container .navbar .logo img {
    width: 100%;
  }
  #header .container .navbar .nav {
    width: 40%;
  }
}
@media only screen and (max-width: 792px) {
  #header .container .navbar .logo {
    width: 30%;
  }
  #header .container .navbar .logo img {
    width: 100%;
  }
  #header .container .navbar .nav {
    width: 50%;
  }
}
@media only screen and (max-width: 654px) {
  #header .container .navbar {
    padding-top: 30px;
  }
  #header .container .navbar .logo {
    width: 30%;
  }
  #header .container .navbar .logo img {
    width: 100%;
  }
  #header .container .navbar .nav {
    width: 10%;
  }
  #header .container .navbar .nav ul li .a {
    display: none;
  }
  #header .container .navbar .nav ul li .menu {
    display: block;
  }
}

#footer {
  width: 100%;
  padding-top: 450px;
  position: relative;
}
#footer .footer__header {
  width: 100%;
  position: absolute;
  bottom: 280px;
}
#footer .footer__header .container .footer__head {
  width: 100%;
  background-image: url(../.././assets/images/header-footer/footer_head-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}
#footer .footer__header .container .footer__head .footer__head--text {
  width: 50%;
  padding-left: 70px;
  padding-top: 72px;
  padding-bottom: 40px;
}
#footer .footer__header .container .footer__head .footer__head--text h1 {
  width: 50%;
  color: #FFF;
  font-family: "Jost 500";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
#footer .footer__header .container .footer__head .footer__head--text p {
  width: 85%;
  color: #FFF;
  font-family: "Jost 400";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
#footer .footer__header .container .footer__head .footer__head--btn {
  width: 20%;
}
#footer .footer__header .container .footer__head .footer__head--btn a {
  color: #333136;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: #FFF;
  padding: 17px 19px;
}
@media only screen and (max-width: 1160px) {
  #footer .footer__header .container .footer__head .footer__head--text {
    width: 60%;
  }
  #footer .footer__header .container .footer__head .footer__head--text h1 {
    width: 60%;
  }
}
@media only screen and (max-width: 880px) {
  #footer .footer__header .container .footer__head .footer__head--text {
    width: 60%;
  }
  #footer .footer__header .container .footer__head .footer__head--text h1 {
    width: 60%;
    font-size: 30px;
  }
  #footer .footer__header .container .footer__head .footer__head--text p {
    width: 100%;
    font-size: 14px;
  }
  #footer .footer__header .container .footer__head .footer__head--btn {
    width: 30%;
  }
  #footer .footer__header .container .footer__head .footer__head--btn a {
    padding: 12px 15px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 699px) {
  #footer .footer__header {
    padding-bottom: 100px;
    padding-top: 100px;
    bottom: 120px;
  }
  #footer .footer__header .container {
    width: 95%;
    margin: 0 auto;
  }
  #footer .footer__header .container .footer__head {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #footer .footer__header .container .footer__head .footer__head--text {
    width: 100%;
    padding-top: 0px;
    padding-left: 0;
  }
  #footer .footer__header .container .footer__head .footer__head--text h1 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
  }
  #footer .footer__header .container .footer__head .footer__head--text p {
    width: 90%;
    margin: 5px auto;
    text-align: center;
    font-size: 14px;
  }
  #footer .footer__header .container .footer__head .footer__head--btn {
    width: auto;
    margin: 5px auto;
    padding-bottom: 20px;
  }
  #footer .footer__header .container .footer__head .footer__head--btn a {
    padding: 12px 15px;
    font-size: 14px;
    text-align: center;
  }
}
#footer .footer__body {
  width: 100%;
  background-color: #1D1C1E;
}
#footer .footer__body .container .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
}
#footer .footer__body .container .navbar .logo {
  width: 20%;
}
#footer .footer__body .container .navbar .logo img {
  width: 100%;
  height: auto;
}
#footer .footer__body .container .navbar .nav {
  width: 30%;
}
#footer .footer__body .container .navbar .nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .footer__body .container .navbar .nav ul li .a {
  color: #fff;
  font-family: "Jost 400";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
}
#footer .footer__body .container .navbar .nav ul .menu {
  display: none;
}
#footer .footer__body .container hr {
  border: 1px solid #fff;
}
#footer .footer__body .container .footer__body--text {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 70px;
}
#footer .footer__body .container .footer__body--text p {
  color: #FFF;
  font-family: "Jost 700";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
@media only screen and (max-width: 1160px) {
  #footer .footer__body .container .navbar .logo {
    width: 30%;
  }
  #footer .footer__body .container .navbar .logo img {
    width: 100%;
  }
  #footer .footer__body .container .navbar .nav {
    width: 40%;
  }
}
@media only screen and (max-width: 792px) {
  #footer .footer__body .container .navbar .logo {
    width: 30%;
  }
  #footer .footer__body .container .navbar .logo img {
    width: 100%;
  }
  #footer .footer__body .container .navbar .nav {
    width: 50%;
  }
}
@media only screen and (max-width: 654px) {
  #footer .footer__body .container .navbar {
    padding-top: 30px;
  }
  #footer .footer__body .container .navbar .logo {
    width: 30%;
  }
  #footer .footer__body .container .navbar .logo img {
    width: 100%;
  }
  #footer .footer__body .container .navbar .nav {
    width: 10%;
  }
  #footer .footer__body .container .navbar .nav ul li .a {
    display: none;
  }
  #footer .footer__body .container .navbar .nav ul li .menu {
    display: block;
  }
  #footer .footer__body .container .footer__body--text p {
    font-size: 12px;
  }
  #footer .footer__body .container .footer__body--text .logos {
    width: 20%;
  }
  #footer .footer__body .container .footer__body--text .logos img {
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  #footer .footer__body .container .navbar {
    padding-top: 30px;
  }
  #footer .footer__body .container .navbar .logo {
    width: 30%;
  }
  #footer .footer__body .container .navbar .logo img {
    width: 100%;
  }
  #footer .footer__body .container .navbar .nav {
    width: 10%;
  }
  #footer .footer__body .container .navbar .nav ul li .a {
    display: none;
  }
  #footer .footer__body .container .navbar .nav ul li .menu {
    display: block;
  }
  #footer .footer__body .container .footer__body--text p {
    font-size: 10px;
  }
  #footer .footer__body .container .footer__body--text .logos {
    width: 20%;
  }
  #footer .footer__body .container .footer__body--text .logos img {
    width: 100%;
  }
}

@font-face {
  font-family: "Jost 400";
  src: local(""), url("../fonts/Jost/static/Jost-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Jost 500";
  src: local(""), url("../fonts/Jost/static//Jost-Medium.ttf") format("woff");
}
@font-face {
  font-family: "Jost 700";
  src: local(""), url("../fonts/Jost/static/Jost-Bold.ttf") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Raleway", "Arial", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.huge-container {
  max-width: 1600px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}/*# sourceMappingURL=main.css.map */