// JOST 400
@font-face {
    font-family: "Jost 400";
    src: local(''),
    url('../fonts/Jost/static/Jost-Regular.ttf') format('woff');
}

// JOST 500
@font-face {
    font-family: "Jost 500";
    src: local(''),
    url('../fonts/Jost/static//Jost-Medium.ttf') format('woff');
}

// JOST 700
@font-face {
    font-family: "Jost 700";
    src: local(''),
    url('../fonts/Jost/static/Jost-Bold.ttf') format('woff');
}