.main__cards-section {
    margin-top: 70px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}

.main__cards__1 {
    display: flex;
    justify-content: space-between;
    background-image: url(/assets/images/about/cards-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 500px;
    margin-bottom: 160px;
}

.main__cards__1--left {
    width: 45%;
    padding: 90px;
    margin-top: 30px;

    h1 {
        margin: 0;
        padding: 0;
        color: #FFF;
        font-family: "Jost";
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        /* 100% */
        margin-bottom: 20px;
    }

    p {
        margin: 0;
        padding: 0;
        color: #FFF;
        font-family: "Jost";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */
    }
}

.main__cards__2 {
    display: flex;
    background-image: url(/assets/images/about/backround.png);
    background-repeat: no-repeat;
    background-size: cover;

    .main__cards__2--item {
        padding: 80px;
        width: 43%;
        margin-top: 100px;

        h2 {
            color: #E7816B;
            font-family: "Jost";
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 48px;
            /* 120% */
            margin-bottom: 30px;
        }

        P {
            color: #333136;
            font-family: "Jost";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            /* 162.5% */
        }
    }
}

.main__cards__3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 160px;
    text-align: center;

    .main__cards__3--item {
        margin: 0;

        p {
            margin-top: 38px;
            margin-bottom: 30px;
            color: #333136;
            font-family: "Jost";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
        }

        button {
            color: #FFF;
            text-align: center;
            font-family: "Jost";
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
            border-radius: 8px;
            background: #E7816B;
            width: 152px;
            height: 56px;
            flex-shrink: 0;
            border: none;
            outline: none;
        }
    }
}

.main__cards__4 {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    background-image: url(/assets/images/about/backround.png);
    background-repeat: no-repeat;
    background-size: cover;

    .main__cards__4--item {
        width: 53%;
        padding: 140px;

        h2 {
            color: #E7816B;
            font-family: "Jost";
            font-size: 42px;
            font-style: normal;
            font-weight: 500;
            line-height: 48px;
            /* 120% */
            margin-bottom: 30px;
        }

        p {
            color: #333136;
            font-family: "Jost 100";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            /* 162.5% */
        }
    }
}

@media only screen and (max-width:1450px) {
    .container {
        .main__cards__1 {
            width: 100%;
            height: auto;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;

            img {
                width: 100%;
            }

            .main__cards__1--left {
                text-align: center;
                width: 60%;

                h1 {
                    color: #FFF;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 52px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 48px;
                    /* 100% */
                }

                p {
                    color: #FFF;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    /* 162.5% */
                }
            }
        }

        .main__cards__2 {
            width: 100%;
            height: auto;
            flex-direction: column;
            align-items: center;
            text-align: center;

            img {
                width: 100%;
                height: 1000px;
            }

            .main__cards__2--item {
                text-align: center;
                width: 60%;

                h1 {
                    color: #E7816B;
                    text-align: center;
                    font-family: "Jost 600";
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 48px;
                    /* 120% */
                }

                p {
                    color: #333136;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px;
                    /* 162.5% */
                }
            }
        }

        .main__cards__3 {
            flex-direction: column;
        }

        .main__cards__3--item {
            margin-bottom: 80px;
        }

        .main__cards__4 {
            width: 100%;
            height: auto;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;

            img {
                width: 100%;
                height: 990px;
            }

            .main__cards__4--item {
                text-align: center;
                width: 70%;

                h1 {
                    color: #E7816B;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 48px;
                    /* 120% */
                }

                p {
                    color: #333136;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    /* 162.5% */
                }
            }
        }
    }

    .container {
        .footer__head {
            flex-direction: column;
            align-items: center;
            height: 500px;

            .footer__head--text {

                h1 {
                    color: #FFF;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 40px;
                    /* 100% */
                    margin-left: 100px;
                }

                p {
                    color: #FFF;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    /* 162.5% */
                }
            }

            .footer__head--btn {
                text-align: center;

                a {
                    width: 152px;
                    height: 56px;
                    flex-shrink: 0;
                    border-radius: 8px;
                    background: #FFF;
                    color: #333136;
                    font-family: Jost;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media only screen and (max-width:650px) {
    .container {
        .main__cards__1 {
            width: 100%;
            height: auto;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;

            img {
                width: 100%;
            }

            .main__cards__1--left {
                width: 100%;

                h1 {
                    color: #FFF;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 52px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 48px;
                    /* 100% */
                }

                p {
                    color: #FFF;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    /* 162.5% */
                }
            }
        }

        .main__cards__2 {
            width: 100%;
            height: auto;
            flex-direction: column;
            align-items: center;
            text-align: center;

            img {
                width: 100%;
                height: 1000px;
            }

            .main__cards__2--item {
                text-align: center;
                width: 100%;

                h1 {
                    color: #E7816B;
                    text-align: center;
                    font-family: "Jost 600";
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 48px;
                    /* 120% */
                }

                p {
                    color: #333136;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px;
                    /* 162.5% */
                }
            }
        }

        .main__cards__3 {
            flex-direction: column;
        }

        .main__cards__3--item {
            margin-bottom: 80px;
        }

        .main__cards__4 {
            width: 100%;
            height: auto;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;

            img {
                width: 100%;
                height: 990px;
            }

            .main__cards__4--item {
                text-align: center;
                width: 70%;

                h1 {
                    color: #E7816B;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 48px;
                    /* 120% */
                }

                p {
                    color: #333136;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    /* 162.5% */
                }
            }
        }

        .main__cards__4 {
            width: 100%;
            height: auto;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;

            img {
                width: 100%;
                height: 990px;
            }

            .main__cards__4--item {
                width: 100%;
                height: auto;

                h1 {
                    color: #E7816B;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 48px;
                    /* 120% */
                }

                p {
                    color: #333136;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    /* 162.5% */
                }
            }
        }
    }

    .container {
        .footer__head {
            flex-direction: column;
            align-items: center;
            height: 400px;
            margin-bottom: 130px;

            .footer__head--text {
                margin-top: 100px;

                h1 {
                    color: #FFF;
                    text-align: center;
                    font-family: Jost;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 36px;
                    /* 112.5% */
                }

                p {
                    color: #FFF;
                    text-align: center;
                    font-family: "Jost";
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                    /* 166.667% */
                }
            }

            .footer__head--btn {
                text-align: center;

                a {
                    width: 152px;
                    height: 56px;
                    flex-shrink: 0;
                    border-radius: 8px;
                    background: #FFF;
                    color: #333136;
                    font-family: Jost;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media only screen and (max-width:550px){
    .container {
        .navbar {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .logo {
            margin-top: 100px;
            margin-bottom: 30px;
        }

        .nav {
            display: none;
        }

        .footer__body--text {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .logos{
          text-align: center;
        }
    }
}