#header{
    width: 100%;
    .container{
        .navbar{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 50px;
            .logo{
                width: 20%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .nav{
                width: 30%;
                ul{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li{
                        .a{
                            color: #333136;
                            font-family: "Jost 400";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 14px; 
                            letter-spacing: 2px;
                        }
                    }
                    .menu{
                        display: none;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 1160px) {
        .container{
            .navbar{
                .logo{
                    width: 30%;
                    img{
                        width: 100%;
                    }
                }
                .nav{
                    width: 40%;
                }
            }
        }
    }
    @media only screen and (max-width: 792px) {
        .container{
            .navbar{
                .logo{
                    width: 30%;
                    img{
                        width: 100%;
                    }
                }
                .nav{
                    width: 50%;
                }
            }
        }
    }
    @media only screen and (max-width: 654px) {
        .container{
            .navbar{
                padding-top: 30px;
                .logo{
                    width: 30%;
                    img{
                        width: 100%;
                    }
                }
                .nav{
                    width: 10%;
                    ul{
                        li{
                            .a{
                                display: none;
                            }
                            .menu{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}