.hero__body ul {
    display: flex;
    justify-content:space-between ;
    li{
        margin-left: 40px;
        border-radius: 15px;
background: #FDF3F0;
width: 350px;
height:420px ;
    }
}
.hero{
    height: 252px;
content: "";
background-image: url(/assets/images/header-footer/footer_head-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
   margin-top:20px;
    h3{
        color: #FFF;
text-align: center;
font-family: Jost;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 48px;
    }
    p{
        width: 300px;
        color: #FFF;
text-align: center;
margin-left: 550px;
margin-top: 30px;
font-family: Jost;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
    }
}
.hero__body{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 100px;
}
.hero__design{
    display: flex;
            justify-content: space-between;
            margin-top: 100px;  

 
    .hero__design--right{
        content: "";
        background-image: url(/assets/images/graphik-design/card--2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 641px;
    height: 408px
    
  
    }
    .hero__design--right--ul--a--h2{
        color: #FFF;
    margin-top: 100px;
    text-align: center;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; 
    letter-spacing: 2px;
    }
    .hero__design--right--ul--h5 {
        color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    }
    .hero__design--left{
        content: "";
        background-image: url(/assets/images/graphik-design/card--2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 641px;
    height: 408px  
    }
    .hero__design--left--a--ul--h2{
        color: #FFF;
    margin-top: 100px;
    text-align: center;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; 
    letter-spacing: 2px;
    }
    .hero__design--ul--h5{
        color: #FFF;
        text-align: center;
        font-family: Jost;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
}
@media only screen and (max-with:1160) {
    .container{
        width: 95%;
    }
}
@media only screen  and (max-with:1258) {
    .hero{
        width: 45%;
    }
}

@media only screen and (max-with:1326) {
    .hero__design{
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (max-with:550) {
    .hero__body{
        display: flex;
        flex-wrap: wrap;
    }
}